{% extends "plantillaBase.html" %}
{% load static %}
{% block body %}
<div class="Formulario" style="display: grid; justify-content: center; align-items: center;">
    <form action="userUpdate" method="POST" id="registro" class="Registro">
        {% csrf_token %}
        <h1>Actualizar</h1>

            <input type="email" required name="correo" id="correo" value="{{user.email}}">
            <input type="text" required name="username" id="username" value="{{user.username}}">
            <input type="text" required name="p_nombre" id="p_nombre" value="{{user.first_name}}">
            <input type="text" required name="apellido" id="apellido" value="{{user.last_name}}">
            <input type="password" required name="password" id="password" value="{{user.password}}">
            <button type="submit" name="opcion" value="Actualizar">Actualizar</button>  
   
    </form>
</div>

<a class="btn" href="{% url 'lista' %}"><button>Volver</button></a>

<script src="{% static 'Login.js' %}"></script>

{% endblock  %}