{% extends "plantillaBase.html" %}
{% load static %}
{% block body %}
{% load static %} 
    <div class="d-flex p-2 bd-highlight">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'imagenes/tijerapodar.webp' %}" class="cardImg" alt="...">
        <div class="card-body">
          <h5 class="card-title" id="precio">$12.990</h5>
          <p class="card-text">Tijeras para podar</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static 'imagenes/barrehojas.jpg' %}" class="cardImg" alt="...">
        <div class="card-body">
          <h5 class="card-title" id="precio">$9.990</h5>
          <p class="card-text">Barre hojas metalico</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
      </div>
{% endblock  %}    
