{% extends "plantillaBase.html" %}
{% load static %}
{% block body %}
<div class="Microtitulos2" >
    <h2>Usuarios registrados:</h2>
    <br>
    <h5>Editar datos</h5>
    <a class="btn" href="{% url 'registro' %}"><button>Registrar Nuevo usuario</button></a>
    <table style="width: 15cm">
        {% if user %}
        <tr style="height:100px">
            <th style="vertical-align:bottom">Correo</th>
            <th style="vertical-align:bottom">Usuario</th>
        </tr>
            {% for x in user %}
                <tr>
                    <td> {{ x.email   }} 
                    <td> {{ x.username }}
                    <td><a href="{% url 'borrar_user' pk=x.username %}">Eliminar</a>
                    <td><a href="{% url 'user_edit' pk=x.id %}">Actualizar</a>    
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    </div>
{% endblock  %}        
