
{% extends "plantillaBase.html" %}
{% load static %}
{% block body %}
<div class="d-flex p-2 bd-highlight">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'imagenes\gsc_116336358_1449289_1.webp' %}" class="cardImg" alt="...">
    <div class="card-body">
      <h5 class="card-title" id="precio">$5.990</h5>
      <p class="card-text">Macetero mediano</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'imagenes/macetero grande.webp' %}" class="cardImg" alt="...">
    <div class="card-body">
      <h5 class="card-title" id="precio">$8.990</h5>
      <p class="card-text">Macetero Grande</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
  </div>
{% endblock  %}
