
{% extends "plantillaBase.html" %}
{% load static %}
</header>    
{% block body %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <div><h2 class="Microtitulos2">Productos que podras encontrar:</h2></div>
  
    <div id="carousel" class="carouselClass" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src=" {% static 'imagenes\gsc_116336358_1449289_1.webp' %}" class="TamCarru mx-auto" alt="...">
        </div>
        <div class="carousel-item">
          
          <img src="{% static 'imagenes\semillas de maravilla.png' %}" class="TamCarru mx-auto" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'imagenes\semillaslinaza.jpg' %}" class="TamCarru mx-auto" alt="...">
        </div>
      </div>
    </div>


    <div><h2 class="Microtitulos">Productos en oferta</h2></div>
    <div class="d-flex p-2 bd-highlight">
      <div class="card" style="width: 15rem;">
        <img src="{% static 'imagenes\pala.webp' %}" class="cardImg" alt="...">
        <div class="card-body">
          <h5 class="card-title" id="precio">$10.990</h5>
          <p class="card-text">Pala jardinera</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 15rem;">
        <img src="{% static 'imagenes\tierra de hojas.webp' %}" class="cardImg" alt="...">
        <div class="card-body">
          <h5 class="card-title1" id="precio">$7.990</h5>
          <p class="card-text">Tierra de hojas 1kg</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div> 
      </div>

{% endblock  %}









